div {
    display: flex;
    flex-direction: row;
}

div p:nth-child(1) {
    color: red;
}

div p:nth-child(2) {
    color: aliceblue;
}

div p:nth-child(3) {
    color: green;
}

div p:nth-child(4) {
    color: yellow;
}