/* .nav-item :hover {
  text-decoration: underline;
} */

/* .nav-item {
  position: absolute;
  right: 0 !important;
} */

/* .dropdown-item:hover {
  background-color: #D91B5C;
} */


.list-group-item:hover {
  font-size: 16px;
  border-bottom: #D91B5C 2px solid;
  cursor: pointer;
  
}
/* .megamenu-content {
  padding: 20px;
} */
